include includes/header.pug

section#mapSection
  div(style='width: 100%')
    iframe(scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=100%25&height=600&hl=es&q=Les%20Rambles,%201%20Barcelona,%20Spain+(Mi%20nombre%20de%20egocios)&t=&z=14&ie=UTF8&iwloc=B&output=embed' width='100%' height='500' frameborder='0')
section#contactoSection.pt-3
  .container-fluid
    .row
      .col-12
        .card
          .card-body
            .row
              .col-lg-6.col-12
                .card
                  .card-body.bg-light
                    h3.pb-5.font-weight-bold.text-center.text-uppercase
                      | Consultas
                    center
                      p.text-muted
                        | No dude en consultarnos, llena el formulario y
                        | comun&iacute;cate con nosotros. Te responderemos lo m&aacute;s
                        | pronto posible
                    form(action='#')
                      .form-group
                        input#nombre.form-control(type='text' placeholder='Nombre')
                      .form-group
                        input#nombre.form-control(type='email' placeholder='Email')
                      .form-group
                        input#nombre.form-control(type='tel' placeholder='Teléfono')
                      .form-group
                        textarea#consulta.form-control(rows='2')
                          | Consulta
                      button.btn.btn-primary.btn-lg.btn-block(type='button')
                        | Enviar
              .col-lg-6.col-12.pl-5
                .row
                  .col-12.pt-5
                    i.fas.fa-mobile-alt.fa-3x.pb-3
                    br
                    span.font-weight-bold
                      a(href='') 999-999-999
                    br
                    span.font-weight-bold
                      a(href='') 999-999-999
                  .col-12.pt-5
                    i.fas.fa-envelope.fa-3x.pb-3
                    br
                    span.font-weight-bold
                      a(href='') testing@testing.com
                    br
                    span.font-weight-bold
                      a(href='') testing@testing.com
                  .col-12.pt-5
                    i.fas.fa-home.fa-3x.pb-3
                    br
                    span.font-weight-bold
                      | Lorem, ipsum dolor sit amet consectetur adipisicing
                      | elit.

include includes/footer.pug